<script lang="ts">
	import type { UserFormSchema } from '$lib/server/zod/UserFormSchema';
	import {
		Button,
		ButtonSet,
		Column,
		Form,
		Grid,
		PasswordInput,
		Row,
		TextInput
	} from 'carbon-components-svelte';
	import SuperDebug from 'sveltekit-superforms';
	import type { InputConstraints, ValidationErrors } from 'sveltekit-superforms';
	import { z } from 'zod';

	type User = z.infer<typeof UserFormSchema>;
	export let form: User;
	export let errors: ValidationErrors<User>;
	export let constraints: InputConstraints<User>;
</script>
<Form method="POST">
	<Grid padding={true}>
		<Row>
			<Column>
				<TextInput
					name="username"
					labelText="Username"
					value={form.username}
					invalidText={errors.username?.join(', ')}
					invalid={errors.username !== undefined}
					{...constraints.username}
				/>
			</Column>
		</Row>
		<Row>
			<Column>
				<PasswordInput
					name="hashed_password"
					labelText="Password"
					invalidText={errors.hashed_password?.join(', ')}
					invalid={errors.hashed_password !== undefined}
					{...constraints.hashed_password}
				/>
			</Column>
		</Row>
		<Row>
			<Column>
				<PasswordInput name="password_repeat" labelText="Confirm Password" />
			</Column>
		</Row>
		<Row>
			<Column>
				<ButtonSet>
					<Button type="submit">Save</Button>
					<Button href="/admin/users" kind="tertiary" style="margin-left: 0.05rem">Cancel</Button>
				</ButtonSet>
			</Column>
		</Row>
	</Grid>
</Form>
