<script lang="ts">
	import {
		Button,
		ButtonSet,
		Column,
		Form,
		Grid,
		InlineNotification,
		PasswordInput,
		Row,
		TextInput
	} from 'carbon-components-svelte';
	import type { PageData } from './$types';
	import { superForm } from 'sveltekit-superforms';

	export let data: PageData;
	const { form, errors, constraints, message } = superForm(data.form);
</script>

<Form method="POST">
	<Grid padding>
		<Row>
			<Column>
				<TextInput
					name="username"
					labelText="Username"
					value={$form.username}
					invalidText={$errors.username?.join(', ')}
					invalid={$errors.username !== undefined}
					{...$constraints.username}
				/>
			</Column>
		</Row>
		<Row>
			<Column>
				<PasswordInput
					name="hashed_password"
					labelText="Password"
					invalidText={$errors.hashed_password?.join(', ')}
					invalid={$errors.hashed_password !== undefined}
					{...$constraints.hashed_password}
				/>
			</Column>
		</Row>
		<Row>
			<Column>
				{#if $message}
					<InlineNotification title="Error:" subtitle={$message} />
				{/if}
				<ButtonSet>
					<Button type="submit">Login</Button>
				</ButtonSet>
			</Column>
		</Row>
	</Grid>
</Form>
