<script lang="ts">
	import type { PageData } from './$types';
	import Form from '../Form.svelte';
	import { superForm } from 'sveltekit-superforms';

	export let data: PageData;
	const { form, errors, constraints } = superForm(data.form);
</script>
<Form form={$form} errors={$errors} constraints={$constraints} />
